[Unit]
Description=Removes broken steam.list from apt.

[Service]
ExecStart=/usr/bin/bash -c "rm -rf /etc/apt/sources.list.d/steam-stable.list || echo 'no stable steam repos' " && "rm -rf /etc/apt/sources.list.d/steam.list || echo 'no old steam repos' " && "rm -rf /etc/apt/sources.list.d/steam-beta.list || echo 'no steam beta repos' " && /usr/bin/bash -c "rm -rf /etc/apt/sources.list.d/pika.list || echo 'no pika iso repos' "

[Install]
WantedBy=multi-user.target
